body {
    background-color: white;
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stream-container {
    width: 100%;
    height: 100vh;
    background-color: black;
}