* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-standard: clamp(100px,10vw,1000px);
}

.stream-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: var(--font-standard);
}