body {
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stream-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 20%;
    background-color: black;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    color: green;
}

.webcam-preview {
    width: 100%;
    position: relative;
}