body { 
    background-color: #efefef;
    font-family: "Inter", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    /* border: 1px solid black; */
}

:root { 
    --font-small: clamp(5px, 1.2vw, 3rem);
    --font-smaller: clamp(10px, 1.4vw, 5rem);
    --font-standard: clamp(1rem, 1.5vw, 7rem);
    --font-bigger: clamp(3rem, 4vw, 10rem);
    --font-big: clamp(5rem, 10vw, 13rem);
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - 30px))
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes pulse {
    from {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    to {
        scale: 1;
    }
}

@keyframes dinosaurMovement1 {
    from {
        transform: translateX(0) rotate(0deg);
    }
    30% {
        transform: translate(30vw, 10vw) rotate(90deg);
    }
    70% {
        transform: translateX(90vw) rotate(45deg);
    }
    to {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes dinosaurMovement2 {
    from {
        transform: translate(90vw, -20vw) rotate(0deg);
    }
    40% {
        transform: translate(-5vw, -10vw) rotate(-60deg);
    }
    70% {
        transform: translate(40vw, 1vw) rotate(-190deg);
    }
    to {
        transform: translate(90vw, -20vw) rotate(0deg);
    }
}

@keyframes dinosaurMovement3 {
    from {
        transform: translate(60vw, 20vw) rotate(20deg);
    }
    50% {
        transform: translate(80vw, -30vw) rotate(180deg);
    }
    70% {
        transform: translateX(70vw) rotate(90deg);
    }
    to {
        transform: translate(60vw, 20vw) rotate(20deg);
    }
}

@keyframes dinosaurMovement4 {
    from {
        transform: translate(10vw, -20vw) rotate(180deg);
    }
    50% {
        transform: translate(15vw, 10vw) rotate(-300deg);
    }
    70% {
        transform: translateX(30vw) rotate(30deg);
    }
    to {
        transform: translate(10vw, -20vw) rotate(180deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes jitter {
    20% {
        transform: rotate(1deg) translate(1px);
    }
    50% {
        transform: rotate(-3deg) translate(5px, 10px);
    }
    70% {
        transform: translate(-5px, -5px);
    }
    to {
        transform: translate(0, 0) rotate(0deg);
    }
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20% 0 15%;
    /* animation: fadeIn 2s forwards; */
}

.landing-title {
    font-family: "Inconsolata", serif;
    font-size: var(--font-big);
    animation: jitter 10s infinite linear, fade 2s forwards;
}

.landing-text {
    font-size: var(--font-standard);
    margin-bottom: 10%;
    animation: jitter 10s infinite linear, fade 2s forwards;
}

.dinosaur-image {
    position: absolute;
    width: 10%;
}

.dinosaur-image-1 {
    animation: dinosaurMovement1 40s infinite linear;
}

.dinosaur-image-2 {
    animation: dinosaurMovement2 40s infinite linear;
}

.dinosaur-image-3 {
    animation: dinosaurMovement3 50s infinite linear;
}

.dinosaur-image-4 {
    animation: dinosaurMovement4 80s infinite linear;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: fadeIn 2s forwards;
}

.webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
    animation: fadeIn 2s forwards;
}

.infinite-scroller {
    width: 20%;
    display: flex;
    font-size: var(--font-smaller);
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;
    margin-bottom: 3%;
    gap: 30px;
}

.infinite-scroller ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll 5s linear infinite
}

.webcam-preview {
    width: 80%;
    border-radius: 20px;
}

.webcam-title {
    font-size: var(--font-bigger);
    line-height: 75px;
    margin-bottom: 30px;
    animation: slideUp linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.webcam-text {
    width: 40%;
    margin-bottom: 10%;
}

.webcam-title-bold {
    color: rgb(255, 196, 0); 
    font-family: 'Inconsolata'; 
    font-size: clamp(3rem, 4.5vw, 10rem);
    transition: 0.75s;
    &:hover {
        font-size: clamp(3rem, 5vw, 10rem);
    }
}

.video-container {
    position: relative;
    width: 100%;
}

.video-text {
    position: absolute;
    left: 12.5%;
    bottom: 30px;
    color: white;
    opacity: 0.5;
    pointer-events: none
}

.content-container {
    margin-bottom: 20%;
    height: 50vh;
}

.box {
    position: relative;
    padding: 5%;
    border-radius: 20px;
}

.large-box {
    position: relative;
    width: 47.5%;
    margin-left: 10%;
    background-color: #a3adbc;
    transition: 0.3s;
    cursor: grab;
    &:hover {
        scale: 1.05;
        box-shadow: 0px 0px 20px 1px rgb(145, 145, 145);
        filter: saturate(150%);
    }
    &:hover .box-title {
        color: #335686;
        transform: translateX(15px);
    }
    &:hover .large-box-text {
        transform: translateX(15px);
    }
}

.small-box {
    position: relative;
    width: 30%; 
    margin-right: 10%;
    background-image: url("media/content-image.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.dinosaur-image-5 {
    position: absolute;
    width: 20%;
    top: 5%;
    left: 10%;
}

.dinosaur-image-6 {
    position: absolute;
    width: 20%;
    bottom: 5%;
    right: 10%;
    transform: rotate(30deg) scaleX(-1);
}

.frame-image {
    position: absolute;
    width: 35%;
    animation: pulse infinite 2.5s;
    transform: translateY(-30%);
}

.box-title {
    font-size: var(--font-bigger);
    position: absolute;
    bottom: 20%;
    color: white;
    border: 0;
    background-color: transparent;
    cursor: grab;
    transition: 0.3s;
}

.large-box-text {
    font-size: var(--font-standard);
    position: absolute;
    bottom: 15%;
    color: white;
    border: 0;
    background-color: transparent;
    cursor: grab;
    transition: 0.3s;
}

.box-text {
    color: white;
    font-size: var(--font-standard);
}

.visible {
    display: flex;
}

.not-visible {
    display: none;
}

.footer-container {
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #335686;
}

.medical-information-container {
    position: relative;
    margin: 3% 15%;
    display: flex;
    background-color: #335686;
    padding: 7%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s forwards;
}

.medical-information-title {
    color: #f4b52a
}

.profile-image {
    width: 40%;
    border-radius: 10px;
}

.hashcode-style {
    position: absolute;
    opacity: 0.75;
    right: 20px;
    top: 20px;
}

.label-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

label {
    font-size: var(--font-small);
    font-weight: 300;
    color: white;
}

input {
    background-color: transparent;
    font-size: var(--font-small);
    border: none;
    color: rgb(159, 159, 159);
    width: fit-content;
    transition: 0.5s;
    width: min-content;
    &:hover {
        color: #f4b52a;
    }
}

.save-button {
    margin-top: 5%;
    width: 40%;
    font-size: var(--font-smaller);
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
        scale: 1.1;
    }
}

.line {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #f4b52a;
    bottom: 30px;
    left: 0;
}

.heart-icon {
    font-size: var(--font-bigger);
    position: absolute;
    bottom: 10px;
    right: 50px;
    color: #e83c94;
}

.return-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
    font-size: var(--font-smaller);
    border: 0;
    background-color: transparent;
    transition: 0.2s;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #335686;
    &:hover {
        background-color: #f4b52a;
        scale: 1.1;
    }
    .icon {
        transition: 0.2s;
    }
    &:hover > .icon {
        transform: rotate(45deg);
    }
}