body { 
    background-color: #efefef;
    font-family: "Inter", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    /* border: 1px solid black; */
}

:root { 
    --font-small: clamp(100px, 1px, 1000px);
    --font-smaller: clamp(10px, 1.4vw, 5rem);
    --font-standard: clamp(1rem, 1.5vw, 7rem);
    --font-bigger: clamp(3rem, 4vw, 10rem);
    --font-big: clamp(5rem, 10vw, 13rem);
}

@keyframes scroll {
    to {
        transform: translateX(-100%)
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes pulse {
    from {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    to {
        scale: 1;
    }
}

@keyframes dinosaurMovement1 {
    from {
        transform: translateX(0) rotate(0deg);
    }
    30% {
        transform: translate(30vw, 10vw) rotate(90deg);
    }
    50% {
        transform: translateX(90vw) rotate(45deg);
    }
    to {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes dinosaurMovement2 {
    from {
        transform: translateX(0) rotate(0deg);
    }
    30% {
        transform: translate(-20vw, 40vw) rotate(10deg);
    }
    50% {
        transform: translateX(40vw) rotate(20deg);
    }
    to {
        transform: translateX(0) rotate(0deg);
    }
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20% 0 15%;
}

.landing-title {
    font-size: var(--font-big);
}

.landing-text {
    font-size: var(--font-standard);
    margin-bottom: 10%;
}

.dinosaur-image-1 {
    position: absolute;
    width: 10%;
    animation: dinosaurMovement 20s infinite;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
}

.infinite-scroller {
    width: 20%;
    display: flex;
    font-size: var(--font-smaller);
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;
    margin-bottom: 3%;
}

.infinite-scroller ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll 5s linear infinite
}

.webcam-preview {
    width: 80%;
    border-radius: 20px;
}

.webcam-title {
    font-size: var(--font-bigger);
    line-height: 75px;
    margin-bottom: 30px;
    animation: slideUp linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.webcam-text {
    width: 40%;
    margin-bottom: 10%;
}

.video-container {
    position: relative;
    width: 100%;
    &:hover {
        cursor: grab;
    }
}

.video-text {
    position: absolute;
    left: 12.5%;
    bottom: 30px;
    color: white;
    opacity: 0.5;
    pointer-events: none
}

.content-container {
    margin-bottom: 20%;
    height: 50vh;
}

.box {
    position: relative;
    padding: 5%;
    border-radius: 20px;
}

.large-box {
    width: 47.5%;
    margin-left: 10%;
    background-color: #335686;
    transition: 0.3s;
    cursor: grab;
    &:hover {
        scale: 1.05;
        box-shadow: 0px 0px 20px 1px rgb(145, 145, 145);
        filter: saturate(150%);
    }
    &:hover .box-title {
        color: #f4b52a;
        transform: translateX(15px);
    }
}

.small-box {
    position: relative;
    width: 30%; 
    margin-right: 10%;
    background-image: url("media/content-image.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.frame-image {
    position: absolute;
    width: 35%;
    animation: pulse infinite 2.5s;
    transform: translateY(-30%);
}

.box-title {
    font-size: var(--font-bigger);
    position: absolute;
    bottom: 15%;
    color: white;
    transition: 0.3s;
    border: 0;
    background-color: transparent;
    cursor: grab;
}

.box-text {
    color: white;
    font-size: var(--font-standard);
}

.visible {
    display: flex;
}

.not-visible {
    display: none;
}

.footer-container {
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: grey;
}

.medical-information-container {
    margin: 10% 15%;
    display: flex;
    background-color: #335686;
    padding: 3%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.profile-image {
    width: 30%;
    border-radius: 10px;
}

.label-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label {
    font-size: var(--font-standard);
    font-weight: 300;
    color: white;
}

input {
    background-color: transparent;
    font-size: var(--font-standard);
    border: white inset 1px;
}

.return-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
    font-size: var(--font-smaller);
    border: 0;
    background-color: transparent;
    transition: 0.2s;
    padding: 10px;
    border-radius: 10px;
    &:hover {
        background-color: rgb(225, 225, 225);
        scale: 1.1;
    }
    .icon {
        transition: 0.2s;
    }
    &:hover > .icon {
        transform: rotate(45deg);
    }
}