<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeltaHacks 11</title>

    <link rel="stylesheet" href="static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>

    <div class="landing-container">
        <h1 class="landing-title">MedID</h1>
        <p class="landing-text">A Deltahacks Project</p>
        <img class="dinosaur-image-1 dinosaur-image"" src="static/media/dinosaur-image-1.png">
        <img class="dinosaur-image-2 dinosaur-image" src="static/media/dinosaur-image-2.png">
        <img class="dinosaur-image-3 dinosaur-image" src="static/media/dinosaur-image-3.png">
        <img class="dinosaur-image-4 dinosaur-image" src="static/media/dinosaur-image-4.png">
    </div>

    <div class="webcam-container">
        <div class="infinite-scroller">
            <ul>
                <li>
                    <span class="infinite-scroller-text">DRIVING HEALTHCARE WITH AI</span>
                </li>
            </ul>
            <ul aria-hidden="true">
                <li>
                    <span class="infinite-scroller-text">DRIVING HEALTHCARE WITH AI</span>
                </li>
            </ul>
        </div>
        <h2 class="webcam-title">Introducing <span class="webcam-title-bold">MedID</span>,<br> a facial recognitition healthcare tool</h2>
        <p class="webcam-text">MedID enables seamless patient admission, providing easy access to their medical charts, which include crucial information such as personal details and medical history. </p>
        <div class="video-container">
            <img src="/video_feed" id="video_stream" class="webcam-preview" onclick="toggleFullscreen()" id="webcamPreview">
            <h3 class="video-text">Previewer</h3>
        </div>
    </div>

    <div class="content-container">
        <div class="large-box box visible" id="largeBoxFront">
            <h3 class="box-title">Learn More <i class="fa-solid fa-arrow-right"></i></h3>
            <p class="large-box-text">Here's what our project does.</p>
            <img class="dinosaur-image-5 dinosaur-image" src="static/media/dinosaur-image-5.png">
            <img class="dinosaur-image-6 dinosaur-image" src="static/media/dinosaur-image-6.png">
        </div>
        <div class="large-box box not-visible" id="largeBoxBack"><h3 class="box-text">A pretrained model neural network identifies the person in the picture frame. When the system identifies the subject with a high degree of confidence, it takes a screenshot of the bounding box. The image of the person is then compared to others in the database, scanning for a match. When the match is found, the medical chart of the patient is linked, allowing medical professionals to access it when the patient is admitted to the hospital. </h3></div>
        <div class="small-box box">
            <img src="static/media/frame-image.png" class="frame-image">
        </div>
    </div>

    <div class="footer-container">
        January 2025 / Project by Arianna Ansari, Katelyn Li, Nicholas Ching, and Dylan Li
    </div>

    <script>
        const webcam = document.querySelector('#webcamPreview');
        let patientInfo = [20]

        window.navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            webcam.srcObject = stream;
            webcam.onloadedmetadata = (e) => {
                webcam.play();
            };
        })

        async function awaitClient(){
            const response = await fetch("/await_client/", {
                method: "POST",
            });
            let result = await response;
            fetchDetails()
        }

        async function fetchDetails(){
            const response = await fetch("/fetch_details/", {
                method: "POST",
            });
            let result = await response.text();
            console.log(result)
            if (result != "False"){
                patientInfo = result.split(",");
                console.log(patientInfo)
                window.location.href = "/patientinfo";
            }
            else{
                patientInfo[0] = "null"
                window.location.href = "/patientinfo";
            }
        }

        awaitClient()

        const largeBoxFront = document.getElementById("largeBoxFront");
        const largeBoxBack = document.getElementById("largeBoxBack");

        largeBoxFront.addEventListener("click", () => {
            largeBoxFront.classList.remove("visible");
            largeBoxFront.classList.add("not-visible");
            largeBoxBack.classList.remove("not-visible");
            largeBoxBack.classList.add("visible");
        });

        largeBoxBack.addEventListener("click", () => {
            largeBoxBack.classList.remove("visible");
            largeBoxBack.classList.add("not-visible");
            largeBoxFront.classList.remove("not-visible");
            largeBoxFront.classList.add("visible");
        });
    </script>

</body>
</html>

