<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeltaHacks 11</title>

    <link rel="stylesheet" href="static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <div class="medical-information-container">

        <div class="label-container">
            <h1 class="medical-information-title">Medical Information</h1>
            <label class="hashcode-style" id="hashcode"></label>
            <label>Name: <input type="text" id="name" value=""></label>
            <label>Birthday: <input type="text" id="birthday" value=""></label>
            <label>Gender: <input type="text" id="gender" value=""></label>
            <label>Height (cm): <input type="text" id="height" value=""></label>
            <label>Weight: <input type="text" id="weight" value=""></label>
            <label>Blood Type: <input type="text" id="blood" value=""></label>
            <label>Medical Conditions: <input type="text" id="conditions" value=""></label>
            <label>Medication: <input type="text" id="medications" value=""></label>
            <label>Address: <input type="text" id="address" value=""></label>
            <label>Emergency Contact <input type="text" id="emergency" value=""></label>
            <label id="update"></label>
            <button class="save-button" onclick="save()">Save</button>
            <div class="line"></div>
            <i class="fa-solid fa-heart heart-icon"></i>
        </div>
        <img id="myImage" src="static/media/temp.jpg" class="profile-image">
    </div>

    <a class="return-button" href="/"><i class="fa-solid fa-arrow-left icon"></i> Return</a>

    <script>
        let patientInfo = []*20;
        let isNew = false
        getDetails();

        async function getDetails(){
            const response = await fetch("/get_details/", {
                method: "POST",
            });
            let result = await response.text();
            console.log(result)
            if (result != "False"){
                patientInfo = result.split(",");
                console.log(patientInfo)
            }
            else{
                isNew = true
                const response = await fetch("/get_time/", {
                    method: "POST",
                });
                let result = await response.text();
                patientInfo = [result]
                console.log(patientInfo[0])
            }
            document.getElementById("hashcode").innerHTML = patientInfo[0];
            
            const name = document.getElementById("name");
            name.value = patientInfo[1]; 

            const birthday = document.getElementById("birthday");
            birthday.value = patientInfo[2]; 

            const gender = document.getElementById("gender");
            gender.value = patientInfo[3]; 

            const height = document.getElementById("height");
            height.value = patientInfo[4]; 

            const weight = document.getElementById("weight");
            weight.value = patientInfo[5]; 

            const blood = document.getElementById("blood");
            blood.value = patientInfo[6]; 

            const conditions = document.getElementById("conditions");
            conditions.value = patientInfo[7]; 

            const medications = document.getElementById("medications");
            medications.value = patientInfo[8];

            const address = document.getElementById("address");
            address.value = patientInfo[9]; 

            const emergency = document.getElementById("emergency");
            emergency.value = patientInfo[10]; 

            document.getElementById("update").innerHTML = "Last Update: " + patientInfo[11];
        }

        async function save() {
            // For Existing Files
            if(!isNew){
                const nameInput = document.getElementById("name");
                patientInfo[1] = nameInput.value; 
                console.log(patientInfo); // Output: Updated array 
                console.log(patientInfo.toString())
                const response = await fetch("/update_details/"+patientInfo.toString(), {
                    method: "POST",
                });
                let result = await response.text();
            }
            // For New Files
            else{
                const nameInput = document.getElementById("name");
                patientInfo.push(nameInput.value) 
                console.log(patientInfo); // Output: Updated array 
                console.log(patientInfo.toString())
                const response = await fetch("/new_details/"+patientInfo.toString(), {
                    method: "POST",
                });
                let result = await response.text();
                isNew = false
            }
        }
        
    </script>
</body>
</html>

